<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />

        <script src="/library/webjars/jquery/1.12.4/jquery.min.js"></script>
        <script src="/library/webjars/jquery-ui/1.12.1/jquery-ui.min.js"></script>

        <script src="/seats-tool/js/jquery.growl.js?t={{portalCdnQuery}}" type="text/javascript"></script>
        <link href="/seats-tool/css/jquery.growl.css?t={{portalCdnQuery}}" rel="stylesheet" type="text/css" />

        <link rel="stylesheet" type="text/css" href="/library/skin/tool_base.css?t={{portalCdnQuery}}" />
        <link rel="stylesheet" type="text/css" href="/seats-tool/css/base.css?t={{portalCdnQuery}}" />
        <link rel="stylesheet" type="text/css" media="print" href="/seats-tool/css/print.css?t={{portalCdnQuery}}" />

        {{#if developmentMode}}
            <script src="/seats-tool/js/vue.js"></script>
        {{else}}
            <script src="/seats-tool/js/vue.min.js"></script>
        {{/if}}

        <script src="/seats-tool/js/components.js?t={{portalCdnQuery}}"></script>

        {{{randomSakaiHeadStuff}}}
    </head>
    <body>
        <div class="portletBody seats-body">
            {{{subpage this "body"}}}
        </div>

        <script>
          $(document).ready(function() {
            new Vue({ el: '.vue-enabled' });
          });
        </script>
    </body>
</html>
